.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #b98390;
  background-color: #8ab1ce;
}

h1 {
  color:antiquewhite;
  font-size: 800%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2 {
  color:rgb(138, 17, 69);
  font-family:'Courier New', Courier, monospace
}

p {
  text-indent: 0.5in;
  color: rgb(81, 39, 54);
}

#content {
    background-color:rgb(226, 147, 147);
    border: dotted 10px white;
}

h3 {
  color:rgb(138, 17, 69);
  font-family:'Courier New', Courier, monospace;
  font-size: 100%;
}
